doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    meta(name='description' content='A command line tool to create remote git repositories.')
    meta(name='keywords' content='software,git,version control,github,bitbucket,gitlab,devops')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    //- Social Tags for shaing to Twitter and Open Graph Supported sites
    meta(property='twitter:card' content='summary')
    meta(property='twitter:site' content='@vaemoi')
    meta(property='twitter:creator' content='@brwnrclse')
    meta(property='og:title' content='grc: git remote creation')
    meta(property='og:description' content='A command line tool to create remote git repositories.')
    meta(property='og:image' content='https://grc.vaemoi.co/assets/img/png/grc_og-image.png')
    meta(property='og:url' content='https://grc.vaemoi.co')

    //- Favicon Stuff
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon/favicon-16x16.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon/favicon-32x32.png')
    link(rel='mask-icon' type='image/svg+xml' href='assets/favicon/safari-pinned-tab.svg' color='#9dd9d2')
    link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='assets/favicon/apple-touch-icon.png')

    //- Webapp Stuff (manifest, etc)
    link(rel='manifest' href='assets/favicon/site.webmanifest')
    meta(name="msapplication-TileColor" content="#9dd9d2")
    meta(name="msapplication-config" content="assets/favicon/browserconfig.xml")
    meta(name="theme-color" content="#9dd9d2")

    title
      | grc - git remote creation

    //- Styles
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/typography.css')

    //- Should the user not have javascript enabled we'll load fonts ourselves
    noscript
      link(rel='stylesheet' type='text/css' href='css/fonts.css')

    //- Critical CSS
    style.
      html {
        background-color: #9dd9d2;
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
        width: 100vw;
      }
      body {
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
      }
      @media only screen and (max-width: 700px) {
        body {
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }
      }
      header {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 10%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-height: 10%;
        max-width: 95%;
        min-height: 10%;
        min-width: 95%;
        width: 95%;
      }
      @media only screen and (max-width: 700px) {
        header {
          display: none;
          visibility: hidden;
        }
      }
      main {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 80%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-height: 80%;
        max-width: 100%;
        min-height: 80%;
        min-width: 100%;
        width: 100%;
      }
      footer {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 10%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        max-height: 10%;
        max-width: 95%;
        min-height: 10%;
        min-width: 95%;
        width: 95%;
      }
      @media only screen and (max-width: 700px) {
        footer {
          -webkit-box-align: cemter;
              -ms-flex-align: cemter;
                  align-items: cemter;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
      }
      .grc-info {
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 80%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        max-height: 80%;
        max-width: 100%;
        min-height: 80%;
        min-width: 100%;
        width: 100%;
      }
      .grc-info img {
        margin: 0 0 5%;
      }
      @media only screen and (max-width: 700px) {
        .grc-info img {
          margin: 0 0 15%;
        }
      }
      .grc-info code {
        background-color: #333;
        border-radius: 10px;
        color: #fafafa;
        font-size: 16px;
      }
      @media only screen and (max-width: 700px) {
        .grc-info code {
          font-size: 14px;
        }
      }
      .grc-info code pre {
        font-family: 'IBM Plex Mono', Monaco, monospace;
        margin: 0;
        padding: 10px 25px;
      }
      .grc-title {
        background-color: #ffbc42;
        color: #9f4a54;
        font-family: 'IBM Plex Mono';
        padding: 10px;
      }
      .vaemoi-link img {
        max-width: 45px;
      }
      .npm-link {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fafafa;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: 'IBM Plex Mono', Monaco, monospace;
        width: 200px;
      }
      .npm-link h4 {
        background-color: #c12127;
        margin: 0 auto;
        padding: 5px;
      }
      .npm-link img {
        max-width: 45px;
      }

    //- Async webfont loading
    script(type='text/javascript').
      WebFontConfig = {
        google: {
          families: ['IBM Plex Mono', 'IBM Plex Sans']
        }
      };

      (function(d){
        var
          wf = d.createElement('script'),
          s = d.scripts[0];

        wf.src = 'assets/loadWebFont/webfont.js';
        wf.async = true;
        wf.onerror = 'console.log("Error Loading Webfont")'
        s.parentNode.insertBefore(wf, s);
      })(document);

    script(type='text/javascript').
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load('3623929974');

    body
      header
        a.vaemoi-link(href='https://vaemoi.co' target='_blank')
          img(alt='The vaemoi logo' src='assets/img/svg/vaemoi_mark_circle.svg' width='45')
        a.npm-link(href='https://www.npmjs.com/package/@vaemoi/grc')
          h4
            | Check it out
          img(alt='The npm logo' src='assets/img/svg/npm_square.svg' width='45')
      main
        section.grc-info
          img(alt='grc logo' src='assets/img/svg/grc_mark.svg')
          code
            pre.
              npm install -g <em style='color: #FFBC42;'>@vaemoi/grc</em>
      footer
        h4.grc-title
          | [G]it [R]emote [C]reation
