//
// Colors
//
//
$blue-green = #9DD9D2
$faded-black = #333333
$white = #fafafa
$black = #212121
$npm-red = #c12127
$yellow = #FFBC42
$burgondy = #9F4A54

//
// Critical styles belong as a <style> tag withing <head> in layout.pug
//
//

html
  background-color $blue-green
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw

body
  align-content center
  align-items center
  display flex
  flex-flow column nowrap
  height 100%
  justify-content space-between
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

  @media only screen and (max-width: 700px)
    justify-content space-around

header
  align-items center
  display flex
  flex-flow row nowrap
  height 10%
  justify-content space-between
  max-height 10%
  max-width 95%
  min-height 10%
  min-width 95%
  width 95%

  @media only screen and (max-width 700px)
    display none
    visibility hidden

main
  align-items center
  display flex
  flex-flow column nowrap
  height 80%
  justify-content center
  max-height 80%
  max-width 100%
  min-height 80%
  min-width 100%
  width 100%

footer
  align-items flex-start
  display flex
  flex-flow row nowrap
  height 10%
  justify-content flex-start
  max-height 10%
  max-width 95%
  min-height 10%
  min-width 95%
  width 95%

  @media only screen and (max-width: 700px)
    align-items cemter
    justify-content center

.grc
  &-info
    align-content center
    align-items center
    display flex
    flex-flow column nowrap
    height 80%
    justify-content flex-start
    max-height 80%
    max-width 100%
    min-height 80%
    min-width 100%
    width 100%

    & img
      margin 0 0 5%

      @media only screen and (max-width: 700px)
        margin 0 0 15%

    & code
      background-color $faded-black
      border-radius 10px
      color $white
      font-size 16px

      @media only screen and (max-width: 700px)
        font-size 14px

      & pre
        font-family 'IBM Plex Mono', Monaco, monospace
        margin 0
        padding 10px 25px

  &-title
    background-color $yellow
    color $burgondy
    font-family 'IBM Plex Mono'
    padding 10px

.vaemoi-link
  & img
    max-width 45px

.npm-link
  align-items center
  color $white
  display flex
  font-family 'IBM Plex Mono', Monaco, monospace
  width 200px

  & h4
    background-color $npm-red
    margin 0 auto
    padding 5px

  & img
    max-width 45px
